@import '_vars';
@import '_reset';
@import '_mixing';
@import '_header';

body {
    font-family: $workSans;
    font-size: 18px;
    line-height: 23px;
    color: $brown;
}

.additional__container{
    max-width: 1460px;
    padding: 0 10px;
    margin: 0 auto;
}



.container{
    max-width: 1180px;
    padding: 0 10px;
    margin: 0 auto;
}